<% form_details = form_action_details %>

<div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
  <%= custom_form_for(resource, as: resource_name, url: form_details[:url]) do |f| %>
    <%= f.input(:email, error: true, required: true, input_wrapper_html: { class: "mt-1" }) %>
    <%= f.input(:password, error: true, required: true, input_wrapper_html: { class: "mt-1" }) %>

    <% if form_details[:sign_in] %>
      <%= render "devise/shared/forgot_password" %>
    <% end %>
    <%= f.submit(form_details[:submit_text]) %>
  <% end %>
</div>

