<%= custom_form_for([project, task], html: { class: 'flex-row items-center p-4 gap-3 mb-4' }) do |f| %>
  <%= form_error_notification(task) %>
  <%= f.input(:name, 
              label: false,
              autofocus: true) %>
  <%= f.input(:user_id, required: true, label: false, collection: User.pluck(:email, :id), prompt: :translate)%>
  <%= f.input(:end_date, label: false, html5: true) %>
  <%= f.input(:status, 
              label: false, 
              disabled: task.new_record?, 
              collection: Task.statuses.map { |k, v| [k.humanize, k] },
              selected: task.status,
              input_html: { class: "pr-10" }) %>

  <div class="flex gap-3 order-last lg:order-none">
    <%= render "shared/back_button", url: project_path(project), label: "Back to tasks" %>
    <%= render "shared/submit_button", submit_text: submit_text, form: f %>
  </div>
  <%= f.input(:description, label: false, wrapper_html: { class: "w-full" }, input_wrapper_html: { class: "mt-0" }) %>
<% end %>
