<%= turbo_frame_tag task, class: "group" do %>
  <div class="wrapper flex-col gap-3 md:flex-row md:items-center md:mb-0 md:border-b md:rounded-none group-last:rounded-b-lg">
    <div class="flex-1">
      <span class="font-semibold mr-2 md:hidden">Name:</span>
      <%= link_to task.name,
                  project_task_path(project, task),
                  class: "text-blue-500",
                  data: { turbo_frame: "_top" } %>
    </div>
    <div class="flex-grow-0 flex-shrink-0 md:basis-52">
      <span class="font-semibold mr-2 md:hidden">Assing to:</span>
      <span><%= task.user.email %></span>
    </div>
    <div class="flex-grow-0 flex-shrink-0 md:basis-36">
      <span class="font-semibold mr-2 md:hidden">End date:</span>
      <span><%= task.end_date %></span>
    </div>
    <div class="flex-grow-0 flex-shrink-0 md:basis-36">
      <span class="font-semibold mr-2 md:hidden">Status:</span>
      <span><%= task.status.humanize %></span>
    </div>
    <div class="flex gap-3 md:basis-24">
      <%= render "shared/delete_button", url: project_task_path(project, task), label: "Delete task" %>
      <%= render "shared/edit_button", url: edit_project_task_path(project, task), label: "Edit task"%>
    </div>
  </div>
<% end %>
