<main class="container">
  <div class='font-semibold flex justify-between items-center mb-8'>
    <h1 class='text-2xl'>Collaborators</h1>
    <%= link_to "New collaborador", 
                new_project_collaborator_path(@project),
                data: { turbo_frame: dom_id(Collaborator.new) },
                class: 'btn btn--primary w-auto' %>
  </div>

  <%= turbo_frame_tag Collaborator.new %>
  <%= render partial: "header" %>
  <%= turbo_frame_tag "collaborators" do %>
    <%= render partial: "collaborator", collection: @collaborators, locals: { project: @project } %>
  <% end %>
</main>
