<%= turbo_frame_tag project do %>
  <div class="wrapper flex-wrap justify-between items-center gap-3">
    <%= link_to project.name, 
                project_path(project),
                class: "grow text-blue-500",
                data: { turbo_frame: "_top" } %>

    <div class="grow-0 basis-60"><%= project.role_for_user(user_id).humanize %></div> 

    <div class="flex gap-3 grow-0 md:basis-24">
      <%= render "shared/delete_button", url: project_path(project), label: "Delete project" %>
      <%= render "shared/edit_button", url: edit_project_path(project), label: "Edit project" %>
    </div>
  </div>
<% end %>
