<%= turbo_stream_from current_user, "projects" %>

<main class="container">
  <div class='font-semibold flex justify-between items-center mb-8'>
    <h1 class='text-3xl'>Projects</h1>
    <%= link_to "New project", 
                new_project_path(),
                data: { turbo_stream: true },
                class: 'btn btn--primary w-auto' %>
  </div>

  <%= turbo_frame_tag Project.new, class: "group" do %>
    <%= render "empty_state_project" %>
  <% end %>
  <%= turbo_frame_tag "projects" do %>
    <%= render partial: "project", collection: @projects, locals: { user_id: current_user.id } %>
  <% end %>
</main>
