<%= turbo_stream_from current_user, "tasks" %>

<main class="container">
  <div class='font-semibold flex flex-col gap-3 justify-between md:flex-row md:items-center mb-8'>
    <h1 class='text-2xl'>Tasks</h1>
    <div class="flex space-x-3">
      <% if @project.project_users.where(user: current_user, role: :admin).exists? %>
        <%= link_to "New task",
                    new_project_task_path(@project), 
                    class: 'btn btn--primary w-auto', 
                    data: { turbo_stream: true } %>
        <%= link_to "Manage collaborators",
                    project_project_users_path(@project),
                    class: 'btn btn--primary w-auto' %>
      <% end %>
    </div>
  </div>

  <%= turbo_frame_tag Task.new, class: "group" do %>
    <%= render "tasks/empty_state_task", project: @project %>
  <% end %>

  <div>
    <%= render partial: "tasks/header" %>
    <%= turbo_frame_tag "tasks" do %>
      <%= render partial: "tasks/task", collection: @project.tasks.ordered, locals: { project: @project } %>
    <% end %>
  </div>
</main>
