<%= turbo_frame_tag project_user, class: "group" do %>
  <div class="wrapper justify-between items-center gap-3 flex-wrap md:mb-0 md:border-b md:rounded-none group-last:rounded-b-lg">
    <span class="text-blue-500 flex gap-3 md:basis-36"><%= project_user.user.id %></span>
    <span class="text-blue-500 flex-1"><%= project_user.user.email %></span>
    <span class="flex gap-3 md:basis-36">Admin</span>
    <div class="flex gap-3 flex gap-3 md:basis-24">
      <%= render "shared/delete_button", url: project_project_user_path(project, project_user), label: "Delete project user" %>
      <%= render "shared/edit_button", url: "#", label: "Edit project user" %>
    </div>
  </div>
<% end %>
